---
import { getLangFromUrl } from '@i18n/utils'

import Header from '@components/Header/Header.astro'
import Footer from '@components/Footer/Footer.astro'

const lang = getLangFromUrl(Astro.url)

interface SeoTags {
	description: string,
	keywords: string,
	robots?: string
}

interface Props {
	title: string;
	seoTags: SeoTags
}

const { title, seoTags } = Astro.props;

const cannonicalUrl = new URL(Astro.url.pathname, Astro.site)
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" href="" />
		<meta name="generator" content={Astro.generator} />

		<link rel="stylesheet" href="../assets/css/main.css">
		<!-- Tabler icons -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.47.0/tabler-icons.min.css">

		<!-- SEO -->
		<meta name="description" content={seoTags.description}>
		<meta name="keywords" content={seoTags.keywords}>
		<meta name="author" content="Snowmilk Teas">
		<meta name="robots" content={seoTags.robots || "index, follow"}>

		<!-- URL Canónica -->
		<link rel="canonical" href={cannonicalUrl}>

		 <!-- Open Graph / Facebook -->
		 <meta property="og:type" content="website" />
		 <meta property="og:url" content={Astro.url} />
		 <meta property="og:title" content={title} />
		 <meta property="og:description" content={seoTags.description} />
		 <meta property="og:image" content={new URL('TODO poner imagen para miniaturas', Astro.url)} />
	 
		 <!-- Twitter -->
		 <meta property="twitter:card" content="summary_large_image" />
		 <meta property="twitter:url" content={Astro.url} />
		 <meta property="twitter:title" content={title} />
		 <meta property="twitter:description" content={seoTags.description} />
		 <meta property="twitter:image" content={new URL('TODO poner imagen para miniaturas', Astro.url)} />

		<title>{title}</title>
	</head>
	<body class="flex flex-col justify-between h-full">
		<Header></Header>
		<div class="pt-header-mobile md:pt-header">
			<slot />
		</div>
		<Footer></Footer>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

	::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: #fce7f2;
	}

	::-webkit-scrollbar {
		width: 8px;
		background-color: #F5F5F5;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: #f472b9;
	}
</style>